.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  width: 250px;
  max-width: 100%;
  max-height: max-content;
  font-weight: 500;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.special {
  position: absolute;
  background: rgb(197, 21, 21);
  color: azure;
  width: 80px;
  text-align: center;
  clip-path: inset(0 -10%);
  inset: 0 auto auto 0;
  transform-origin: 100% 0;
  transform: translate(-29.3%) rotate(-45deg);
  border-radius: 5%;
}
.product__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(102, 100, 100, 0.485);
  border-radius: 15px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.product h3 {
  font-size: 25px;
  font-weight: 400;
}
.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.product .details .price {
  font-size: 15px;
  font-weight: 600;
}
.product button {
  width: 10px;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
}

.product__options {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2rem;
  align-items: center;
}
/* .product__options button {
  margin: 0 10px;
} */
