.sidenav {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: rgb(44, 47, 72);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.close button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2rem;
  margin-left: 50px;
  color: black;
  background-color: transparent;
  cursor: pointer;
}
ul li {
  list-style: none;
  margin: 2rem 0;
}
